[Unit]
Description=Kabberry's distributed currency daemon
After=network.target

[Service]
User=kabberry
Group=kabberry

Type=forking
PIDFile=/var/lib/kabberryd/kabberryd.pid

ExecStart=/usr/bin/kabberryd -daemon -pid=/var/lib/kabberryd/kabberryd.pid \
          -conf=/etc/kabberry/kabberry.conf -datadir=/var/lib/kabberryd

ExecStop=-/usr/bin/kabberry-cli -conf=/etc/kabberry/kabberry.conf \
         -datadir=/var/lib/kabberryd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
